@layout AnimationLayout
@inherits RpgAnimationBase
<div style="height: @($"{CanvasSpecs.H}px"); width: @($"{CanvasSpecs.W}px")">

    <div class="rpgui-animation-container @Enum.GetName(CanvasBackgound)?.ToLower()">
        <Canvas @ref="_canvas" height="@CanvasSpecs.H" width="@CanvasSpecs.W"></Canvas>
    </div>

</div>
