@page "/multiMonster"
@using RpgComponentLibrary.Services
<div style="line-height:1.2rem">
    <div class="rpgui-content rpgui-grid">
        <div class="rpg-col">

            <div class="rpgui-container framedgolden" style="max-height:520px; overflow-y:scroll">
                <h1>Action Logs</h1>
                <ol>
                    @foreach (var message in Messages)
                    {
                        <li>@((MarkupString)message)</li>
                    }
                </ol>
            </div>
        </div>
        <div class="rpg-col">
            <div class="rpgui-content rpgui-container framed">
                <div class="text-center">
                    <h1>@CurrentPlayer.Name</h1>
                    <h3>@CurrentPlayer.ClassType.ToString()</h3>
                </div>
                <RpgProgressBar Label="Life" MinValue="0" MaxValue="CurrentPlayer.MaxHealth" ProgressBarColor="ProgressBarColor.Red" DataValue="@CurrentPlayer.Health" />
                <RpgProgressBar Label="Ability" MinValue="0" MaxValue="CurrentPlayer.MaxAbilityPoints" ProgressBarColor="ProgressBarColor.Blue" DataValue="@CurrentPlayer.AbilityPoints" />

                <RpgCombatAnimation Animation="combatAnimation" CombatActions="combatActions" CanvasBackgound="CanvasBackgound.FramedGolden2" CanvasSpecs="canvasSpecs" OnAnimationComplete="TriggerAttack" />
                <hr class="golden" />
                <RpgSelectDropdown Width="100" TItem="Skill" @bind-SelectedValue="selectedSkill" OptionsList="AppState.CurrentPlayer.Skills" DisplayPropertyName="Name" />
                <RpgButton Label="@(string.IsNullOrEmpty(selectedSkill.Name)? "Select Skill": selectedSkill.Name)" Width="50" OnClick="@(() => UseSkill(selectedSkill))" />
                <RpgButton Label="Flee" Width="50" RpgButtonStyle="RpgButtonStyle.Silver" OnClick="Flee" />

            </div>

        </div>
        <div class="rpg-col">
            <div class="rpgui-container framed">
                @*<MatH3>Monsters</MatH3>*@
                <h1>Monsters</h1>
                @foreach ((string key, var monster) in AllMonsters ?? new Dictionary<string, Monster>())
                {
                    if (!monster.isDead)
                    {

                        <Animation Effect="@Effect.ShakeY" Speed="@Speed.Fast" IterationCount="1" Enabled="monster.IsHit" OnAnimationEnd="@(() => OnMonsterHit(key))">
                            <h1>@monster.Name</h1>
                            <Tooltip>
                                <Content>
                                    <div class="text-center" style="line-height: 1.1rem">
                                        <h3>@monster.Description</h3>
                                        <h3>D-@monster.DifficultyLevel</h3>
                                    </div>
                                </Content>
                                <ChildContent>
                                    <RpgMonsterGifs @bind-IsAttackGif="@monster.isAttack" Height="96" Width="115" />
                                </ChildContent>
                            </Tooltip>
                            <RpgProgressBar MinValue="0" MaxValue="@monster.MaxHealth" DataValue="@monster.Health" />
                            <RpgButton OnClick="@(() => Attack(key))" Label="Attack This Monster" />
                        </Animation>
                        <hr class="golden" />
                    }
                }
            </div>
        </div>
    </div>




</div>
