@page "/multiMonster"
<div class="mat-layout-grid" style="line-height:1.2rem">
    <div class="mat-layout-grid-inner">
        <div class="mat-layout-grid-cell mat-layout-grid-cell-span-4" style="font-size: .9rem; line-height: 1.2rem; overflow: scroll; height: auto;min-height:200px; max-height: 400px">
            <MatH3>Actions</MatH3>
            @foreach (var message in Messages)
            {
                @((MarkupString)message)
            }

        </div>
        <div class="mat-layout-grid-cell mat-layout-grid-cell-span-4">
            <Animation Effect="@Effect.Hinge" Speed="@Speed.Slow" Enabled="isPlayerDefeated">
                <MatH3 Class="text-center">You</MatH3>
                <MatCard Style="width:100%">
                    <div style="height:auto">
                        <MatHeadline4 class="demo-mat-card-clean-margin">
                            Player : @CurrentPlayer.Name
                        </MatHeadline4>
                        <MatSubtitle2 class="demo-mat-card-clean-margin">
                            Type: @CurrentPlayer.ClassType.ToString()
                        </MatSubtitle2>
                    </div>
                    <MatCardContent>
                        <MatCardMedia Style="height:auto; min-height:100px">
                            <Animation Effect="@Effect.ShakeY" Speed="@Speed.Fast" IterationCount="1" Enabled="isPlayerHit" OnAnimationEnd="OnPlayerHit">
                                <div class="@cssString"></div>
                            </Animation>
                        </MatCardMedia>
                        <MatBody2 Style="height:auto">
                            <MatH5>HP: @CurrentPlayer.Health / @CurrentPlayer.MaxHealth</MatH5>
                            <MatH5>AP: @CurrentPlayer.AbilityPoints / @CurrentPlayer.MaxAbilityPoints</MatH5>
                        </MatBody2>
                    </MatCardContent>
                    <MatCardActions>
                        <MatCardActionButtons>

                            <MatButton OnClick="OpenMenu">Skill</MatButton>
                            @if (isSkillMenu)
                            {
                                <MatList SingleSelection="true">
                                    @foreach (var skill in AllSkillsTemp)
                                    {
                                        <MatListItem OnClick="@(() => UseSkill(skill))">@skill.Name</MatListItem>
                                    }
                                </MatList>
                            }
                            <MatButton OnClick="Flee">Flee</MatButton>
                        </MatCardActionButtons>
                        <MatCardActionIcons>
                        </MatCardActionIcons>
                    </MatCardActions>
                </MatCard>
            </Animation>
        </div>
        <div class="mat-layout-grid-cell mat-layout-grid-cell-span-4">
            <MatH3>Monsters</MatH3>
            @foreach ((string key, var monster) in AllMonsters.Where(x => !x.Value.isDead))
            {
                <Animation Effect="@Effect.Hinge" Speed="@Speed.Slow" Enabled="monster.isDead">
                 <Animation Effect="@Effect.ShakeY" Speed="@Speed.Fast" IterationCount="1" Enabled="monster.IsHit" OnAnimationEnd="@(() => OnMonsterHit(key))">   
                    <MatCard>
                        <div>
                            <MatHeadline6>
                                @monster.Name
                            </MatHeadline6>
                            <MatSubtitle2>
                                @monster.Description
                            </MatSubtitle2>
                        </div>
                        <MatCardContent>
                            
                            <MatBody2 Style="height: auto">
                                <MatH5>HP: @monster.Health / @monster.MaxHealth</MatH5>
                                <MatH5>Difficulty: @monster.DifficultyLevel Damage: @monster.DamageDice</MatH5>
                            </MatBody2>
                        </MatCardContent>
                        <MatCardActions>
                            <MatCardActionButtons>
                                <MatButton OnClick="@(() => Attack(key))" Raised="true">Attack This Monster</MatButton>
                            </MatCardActionButtons>
                        </MatCardActions>
                    </MatCard></Animation>
                </Animation>

            }
        </div>
    </div>




</div>
