
<label>@Label</label>

<div id="@ElementId" data-value="@_convertedVal" class="rpgui-progress @Enum.GetName(ProgressBarColor)?.ToLower()" data-rpguitype="progress">
    <div class=" rpgui-progress-track">
        <div class=" rpgui-progress-fill @Enum.GetName(ProgressBarColor)?.ToLower()" style="left: 0px; width: @_fillWidth;"></div>
    </div>
    <div class=" rpgui-progress-left-edge"></div>
    <div class=" rpgui-progress-right-edge"></div>
</div>