@page "/samples"
@layout RpgBaseLayout
    <div class="rpgui-content" style="top:50px">
        <h3>Component Library Tester</h3>
        <h4>Trying it without ANY javascript</h4>

        <div class="page-container">
            <div class="col">
                <div class="rpgui-container framed rpgui-draggable" style="height:auto; width:300px">
                    <h1>Custom Buttons</h1>
                    <hr />
                    <h2>Click to display and update progress bars</h2>
                    <br />
                    <div class="btn-icon-grp">
                        <RpgButton OnClick="@(async() =>await UpdateBar("Life"))" Label="Adjust Life" RpgButtonStyle="RpgButtonStyle.Standard"><img style="margin-left: 10px; z-index: 2;float:right" src="_content/RpgComponentLibrary/img/icons/potion-blue.png" height="40" width="40" /> </RpgButton>
                    </div>
                    <div class="btn-icon-grp">
                        <span style="width:75%"><RpgButton OnClick="@(async() =>await UpdateBar("Mana"))" Label="Adjust Mana" RpgButtonStyle="RpgButtonStyle.Golden"><img style="margin-left: 10px; z-index:2" src="_content/RpgComponentLibrary/img/icons/potion-red.png" height="40" width="40" /></RpgButton></span>

                    </div>
                    <div class="btn-icon-grp">
                        <span style="width:75%"><RpgButton OnClick="@(async() =>await UpdateBar("Stamina"))" Label="Adjust Stamina" RpgButtonStyle="RpgButtonStyle.Silver"> <img style="margin-left: 10px; z-index:2" src="_content/RpgComponentLibrary/img/icons/potion-green.png" height="40" width="40" /></RpgButton></span>

                    </div>
                    <hr />
                    <h1>Custom Progress</h1>
                    @if (showProgress)
                    {
                        <RpgProgressBar Label="Life" ElementId="life-id2" MinValue="0" MaxValue="100" DataValue="life" ProgressBarColor="ProgressBarColor.Red" />
                        <RpgProgressBar Label="Mana" ElementId="mana-id2" MinValue="0" MaxValue="100" DataValue="mana" ProgressBarColor="ProgressBarColor.Blue" />
                        <RpgProgressBar Label="Stamina" ElementId="stamnia-id2" MinValue="0" MaxValue="100" DataValue="stamina" ProgressBarColor="ProgressBarColor.Green" />
                    }

                </div>
            </div>
            <div class="col">
                <RpgButton OnClick="@(() => showMenu = !showMenu)" RpgButtonStyle="RpgButtonStyle.Silver">Toggle Equip Menu</RpgButton>
                <hr />
                @if (showMenu)
                {
                    <RpgItemsMenu ImageItemActions="_imagesEquipPairs" MenuColumns="4" MenuFrame="Frame.FramedGrey" Context="item" TItem="Equipment">
                        <MenuHeader>
                            <h1>This is a menu header TEMPLATE</h1>
                            <h2>This menu is for Equipment with random images</h2>
                        </MenuHeader>
                        <ToolTipTemplate>
                            @item.AsDisplayString()
                        </ToolTipTemplate>
                        <ActionTemplate>
                            <h3>The Action is also a template. We can add any number of buttons</h3>
                            <label>@item.Name</label>
                            <RpgButton OnClick="@(() => AddToLog(item.AsDisplayString()))" Label="Action: Add Info To Log"></RpgButton>
                        </ActionTemplate>
                    </RpgItemsMenu>
                }
            </div>
            <div class="col">
                <RpgButton OnClick="@(() => showMenu = !showMenu)" RpgButtonStyle="RpgButtonStyle.Golden">Toggle Skill Menu</RpgButton>
                <hr />
                @if (showMenu)
                {
                    <RpgItemsMenu ImageItemActions="_imagesSkillPairs" MenuColumns="4" MenuFrame="Frame.FramedGolden2" Context="item" TItem="Skill">
                        <MenuHeader>
                            <h1>This is a menu header TEMPLATE</h1>
                            <h2>This menu is for Skills with random images</h2>
                        </MenuHeader>
                        <ToolTipTemplate>
                            @item.AsDisplayString()
                        </ToolTipTemplate>
                        <ActionTemplate>
                            <h3>The Action is also a template. We can add any number of buttons</h3>
                            <label>@item.Name</label>
                            <RpgButton OnClick="@(() => AddToLog(item.AsDisplayString()))" Label="Action: Add Info To Log"></RpgButton>
                        </ActionTemplate>
                    </RpgItemsMenu>
                }
            </div>
            <div class="col">
                <div class="rpgui-container framedgolden" style="min-width: 350px">
                    <h1>Menu Logs</h1>
                    <ol>
                        @foreach (var item in TestLog)
                        {
                            <li>@item</li>
                        }
                    </ol>
                </div>
            </div>
        </div>
    </div>


