@page "/samples"
@using Frame = RpgComponentLibrary.Components.Frame
@layout RpgBaseLayout
    <div class="rpgui-content" style="top:50px">
        <div style="background-color:black">
            <h1 style="font-size:125%">Component Library Tester</h1>
            <h1 style="font-size:125%">Trying it without ANY javascript</h1>
        </div>

        <div class="page-container">
            <div class="col-rpg">
                <div class="rpgui-container framed rpgui-draggable" style="height:auto; width:300px">
                    <h1>Custom Buttons RpgButton.razor</h1>
                    <hr />
                    <h2>Click to display and update progress bars</h2>
                    <br />
                    <div class="btn-icon-grp">
                        <span style="width:75%"> <RpgButton OnClick="@(async() =>await UpdateBar("Life"))" Label="Adjust Life" RpgButtonStyle="RpgButtonStyle.Standard"></RpgButton></span>
                    </div>
                    <div class="btn-icon-grp">
                        <span style="width:75%"><RpgButton OnClick="@(async() =>await UpdateBar("Mana"))" Label="Adjust Mana" RpgButtonStyle="RpgButtonStyle.Golden"></RpgButton></span>

                    </div>
                    <div class="btn-icon-grp">
                        <span style="width:75%"><RpgButton OnClick="@(async() =>await UpdateBar("Stamina"))" Label="Adjust Stamina" RpgButtonStyle="RpgButtonStyle.Silver"> </RpgButton></span>

                    </div>
                    <hr />
                    <h1>Custom Progress RpgProgressBar.razor</h1>
                    @if (showProgress)
                    {
                        <RpgProgressBar Label="Life" ElementId="life-id2" MinValue="0" MaxValue="100" DataValue="life" ProgressBarColor="ProgressBarColor.Red" />
                        <RpgProgressBar Label="Mana" ElementId="mana-id2" MinValue="0" MaxValue="100" DataValue="mana" ProgressBarColor="ProgressBarColor.Blue" />
                        <RpgProgressBar Label="Stamina" ElementId="stamnia-id2" MinValue="0" MaxValue="100" DataValue="stamina" ProgressBarColor="ProgressBarColor.Green" />
                    }

                </div>
            </div>
            <div class="col-rpg">
                <RpgButton OnClick="@(() => showMenu = !showMenu)" RpgButtonStyle="RpgButtonStyle.Silver">Equip RpgItemsMenu.razor</RpgButton>
                <hr />
                @if (showMenu)
                {
                    <RpgItemsMenu Items="AppState.AllEquipment" ImageMapperFunc="@((eq)=> eq.ImageId)" MenuColumns="5" MenuFrame="Frame.FramedGrey" Context="item" TItem="Equipment">
                        <MenuHeader>
                            <h1>This is a menu header TEMPLATE</h1>
                            <h2>This menu is for Equipment with random images</h2>
                        </MenuHeader>
                        <ToolTipTemplate>
                            @item.AsDisplayString()
                        </ToolTipTemplate>
                        <ActionTemplate>
                            <h3>The Action is also a template. We can add any number of buttons</h3>
                            <label>@item.Name</label>
                            <RpgButton OnClick="@(() => AddToLog(item.AsDisplayString()))" Label="Action: Add Info To Log"></RpgButton>
                        </ActionTemplate>
                    </RpgItemsMenu>
                }
            </div>
            <div class="col-rpg">
                <RpgButton OnClick="@(() => showMenu = !showMenu)" RpgButtonStyle="RpgButtonStyle.Golden">Skills RpgItemsMenu.razor</RpgButton>
                <hr />
                @if (showMenu)
                {

                    <RpgItemsMenu Items="AppState.AllSkills" ImageMapperFunc="@(skl => skl.AddImage())" MenuColumns="5" MenuFrame="Frame.FramedGolden2" Context="item" TItem="Skill">
                        <MenuHeader>
                            <h1>This is a menu header TEMPLATE</h1>
                            <h2>This menu is for Skills with random images</h2>
                        </MenuHeader>
                        <ToolTipTemplate>
                            @item.AsDisplayString()
                        </ToolTipTemplate>
                        <ActionTemplate>
                            <h3>The Action is also a template. We can add any number of buttons</h3>
                            <label>@item.Name</label>
                            <RpgButton OnClick="@(() => AddToLog(item.AsDisplayString()))" Label="Action: Add Info To Log"></RpgButton>
                        </ActionTemplate>
                    </RpgItemsMenu>
                }
            </div>
            <div class="col-rpg">
                <div class="rpgui-container framedgolden2">
                    <h1>RpgSelectDropdown.razor</h1>
                    <label>Equipment Dropdown</label>
                    <RpgSelectDropdown TItem="Equipment" @bind-SelectedValue="selectedEquipment" OptionsList="AppState.AllEquipment" DisplayPropertyName="Name" OnSelectItem="SelectedEquipmentHanlder" />
                    <h2>@selectedEquipment.Name</h2>
                    <hr class="golden" />
                    <label>Skill Dropdown</label>
                    <RpgSelectDropdown TItem="Skill" @bind-SelectedValue="selectedSkill" OptionsList="AppState.AllSkills" DisplayPropertyName="Name" OnSelectItem="SelectedSkillHandler" />
                    <h2>@selectedSkill.Name</h2>
                    <hr class="golden" />
                    <label>String Drowdown (monster names)</label>
                    <RpgSelectDropdown TItem="string" @bind-SelectedValue="selectedMonster" OptionsList="selectStrings" OnSelectItem="SelectedStringHandler" />
                    <h2>@selectedMonster</h2>
                    <hr class="golden" />
                    <label>Enum Dropdown <code>ClassType</code> enum</label>
                    <RpgSelectDropdown TItem="ClassType" @bind-SelectedValue="selectedClass" OptionsList="@(Enum.GetValues(typeof(ClassType)).Cast<ClassType>().ToArray())" />
                    <h2>@Enum.GetName(selectedClass)</h2>
                </div>
            </div>
            <div class="col-rpg">
                <h2 style="background-color:black">RpgTabGroup.razor & RpgTab.razor</h2>
                <RpgTabGroup>
                    @foreach (var monster in AppState.AllMonsters)
                    {
                        <RpgTab Label="@monster.Name">
                            <div class="rpgui-container framed">
                                <p>Description: @monster.Description</p>
                                <p>Difficulty: @monster.DifficultyLevel</p>
                                <p>Exp awarded: @monster.ExpProvided</p>
                                <p>Gold awareded: @monster.GoldProvided</p>
                            </div>
                        </RpgTab>
                    }
                </RpgTabGroup>
            </div>
            <div class="col-rpg">
                <div class="rpgui-container framed" style="height: auto; width: 300px">
                    <h1>RpgSlider.razor with RpgProgressBar.razor</h1>
                    <RpgSlider Label="Life Setter" @bind-DataValue="slideLife" MinValue="0" MaxValue="100" />
                    <RpgProgressBar Label="Life Meter" DataValue="slideLife" MinValue="0" MaxValue="100" ProgressBarColor="ProgressBarColor.Red" />
                    <RpgSlider Label="Mana Setter" @bind-DataValue="slideMana" MinValue="0" MaxValue="100" IsGolden="true" />
                    <RpgProgressBar Label="Mana Meter" DataValue="slideMana" MinValue="0" MaxValue="100" ProgressBarColor="ProgressBarColor.Blue" />
                </div>
            </div>
            <div class="col-rpg">
                <div class="rpgui-container framed" style="height: auto; width: 300px">
                    <h1>RpgTextInput.razor with RpgNumberInput.razor</h1>
                    <h2>Text Inputs</h2>
                    <RpgTextInput @bind-InputValue="textInput" Label="text box" Placeholder="This is Placeholder" MaxLength="20" />
                    <p>value: <span style="font-weight:600;color:lightblue">@textInput</span></p>
                    <RpgTextInput @bind-InputValue="textAreaInput" Label="textarea box" IsTextArea="true" />
                    <p>value <span style="font-weight:600;color:lightblue">@textAreaInput</span></p>
                    <h2>Number inputs</h2>
                    <RpgNumberInput @bind-NumberValue="intInput" Label="Int32 input" />
                    <p>value <span style="font-weight:600;color:lightblue">@intInput</span></p>
                    <RpgNumberInput @bind-NumberValue="decInput" Label="decimal input" />
                    <p>value <span style="font-weight:600;color:lightblue">@decInput</span></p>
                    <RpgNumberInput @bind-NumberValue="doubleInput" Label="double input" />
                    <p>value <span style="font-weight:600;color:lightblue">@doubleInput</span></p>
                </div>
            </div>
            <div class="col-rpg">
                <div class="rpgui-container framed" style="height: auto; width: 300px">
                    <h1>RpgCheckbox.razor</h1>
                    <h2>Standard style</h2>
                    <RpgCheckbox Label="Checkbox one" @bind-IsChecked="isChecked1" CheckboxStyle="CheckboxStyle.Standard" />
                    <p>Checkbox 1 is @(isChecked1 ? "checked":"unchecked")</p>
                    <h2>Golden style</h2>
                    <RpgCheckbox Label="Checkbox two" @bind-IsChecked="isChecked2" CheckboxStyle="CheckboxStyle.Golden" />
                    <p>Checkbox 2 is @(isChecked2 ? "checked":"unchecked")</p>
                </div>
            </div>
            <div class="col-rpg" style="width:500px">
                <div class="rpgui-container framedgolden2" style="height: auto; width: 500px">
                    <h1>RpgCombatAnimation.razor</h1>
                    <RpgSelectDropdown Label="Animation Class (only warrior and mage)" Width="70" TItem="ClassType" @bind-SelectedValue="classType" OptionsList="@(Enum.GetValues(typeof(ClassType)).Cast<ClassType>().ToArray())" />
                    <RpgSelectDropdown Label="Animation Background" Width="70" TItem="CanvasBackgound" @bind-SelectedValue="canvasBackgound" OptionsList="@(Enum.GetValues(typeof(CanvasBackgound)).Cast<CanvasBackgound>().ToArray())" />
                    <RpgButton Width="30" Label="Update animation" OnClick="@(() =>ChangeAnimationCanvas(classType,canvasBackgound))"></RpgButton>
                    <hr class="golden" />
                    <div class="rpg-btn-group">
                        <RpgButton Width="30" Label="Attack1" RpgButtonStyle="RpgButtonStyle.Golden" OnClick="@(() => RunAnimation("Attack1"))"></RpgButton>
                        <RpgButton Width="30" Label="Attack2" RpgButtonStyle="RpgButtonStyle.Silver" OnClick="@(() => RunAnimation("Attack2"))"></RpgButton>
                        <RpgButton Width="30" Label="Die" RpgButtonStyle="RpgButtonStyle.Standard" OnClick="@(() => RunAnimation("Dead"))"></RpgButton>
                    </div>
                    <RpgCombatAnimation Animation="combatAnimation" CombatActions="combatActions" CanvasBackgound="canvasBackgound" />
                </div>
            </div>
            <div class="col-rpg" style="width:650px">
                <div class="rpgui-container framedgolden2" style="height: auto; width: 650px">
                    <h1>RpgGlobalAnimation.razor</h1>
                    <div @ondblclick="ToggleAnimation">
                        <RpgGlobalAnimation CanvasBackgound="CanvasBackgound.Framed" Animation="currentAnimation" CanvasSpecs="canvasSpecs" CollisionBlocks="collitionsBlocks" Fps="10" OnMove="HandleMove" BackgroundImage="background" StopTimer="stopTimer" OnCollide="HandleCollision"/>
                    </div>
                </div>
            </div>
            
            <div class="rpg-log">
                <div class="rpgui-container framedgolden" style="min-width: 90vw; max-height:520px; overflow-y:scroll">
                    <h1>Menu Logs</h1>
                    <ol>
                        @foreach (var item in TestLog)
                        {
                            <li>@item</li>
                        }
                    </ol>
                </div>
            </div>
        </div>
    </div>


