<div class="rpgui-content rpgui-container framed">
    <h1>Test Select Player</h1>
   
    <RpgButton OnClick="GetUserPlayers" Width="20" Label="Get Characters"/>
    
    @if (isPlayerQuery && AppState.UserData != null)
    {
        <div class="mat-layout-grid">
            <div class="mat-layout-grid-inner">
                <div class="mat-layout-grid-cell mat-layout-grid-cell-span-6">
                    <h2>Double click to select</h2>
                    <RpgTable TItem="Player" Items="UserData.Players" OnDblClickRow="SelectPlayer" PixelWidth="600">
                        <TableHeader>
                            <th>Id</th>
                            <th>Name</th>
                            <th>Class</th>
                            <th>Level</th>
                        </TableHeader>
                        <RowTemplate>
                            <td>@context.ID</td>
                            <td>@context.Name</td>
                            <td>@context.ClassType.ToString()</td>
                            <td>@context.Level</td>
                        </RowTemplate>
                    </RpgTable>
                </div>
                <div class="mat-layout-grid-cell mat-layout-grid-cell-span-6">
                    @if (selectedPlayer != null)
                    {
                        <h1>Current Player</h1>
                        <h2>@selectedPlayer.Name</h2>
                        <h3>@selectedPlayer.ClassType.ToString()</h3>
                    }
                </div>
            </div>
        </div>
    }
    <h1 Class="text-center">Test Get Equip/Skills with manual query filter</h1>
    <div class="mat-layout-grid">
        <div class="mat-layout-grid-inner">
            <div class="mat-layout-grid-cell mat-layout-grid-cell-span-6">
                <h1>Equipment</h1>
                <h2 class="text-center">filter by @equipGold gp</h2>
                <RpgSlider MinValue="0" MaxValue="100" DataValueChanged="@GetEquipFilterByGp"></RpgSlider><hr />
                @if (isEquipQuery)
                {
                    <RpgTable TItem="Equipment" Items="EquipmentQueryResult" PercentWidth="90">
                        <TableHeader>
                            <th>Name</th>
                            <th>Gold Cost</th>
                            <th>Description</th>
                        </TableHeader>
                        <RowTemplate>
                            <td>@context.Name</td>
                            <td>@context.GoldCost</td>
                            <td>@context.Description</td>
                        </RowTemplate>
                    </RpgTable>
                }
            </div>
            <div class="mat-layout-grid-cell mat-layout-grid-cell-span-6">
                <h1>Skills</h1>
                <h2 class="text-center">filter by @skillGold gp</h2>
                <RpgSlider MinValue="0" MaxValue="100" DataValueChanged="@GetSkillFilterByGp"></RpgSlider><hr />
                @if (isSkillQuery)
                {
                    <RpgTable TItem="Skill" Items="SkillQueryResult" PercentWidth="90">
                        <TableHeader>
                            <th>Name</th>
                            <th>Gold Cost</th>
                            <th>Description</th>
                        </TableHeader>
                        <RowTemplate>
                            <td>@context.Name</td>
                            <td>@context.GoldCost</td>
                            <td>@context.Description</td>
                        </RowTemplate>
                    </RpgTable>
                }
            </div>
        </div>
    </div>
</div>