
@if (!isCombatActive)
{
    <div class="rpgui-content" style="width:100vw; height: 100vh; position: relative; overflow: hidden; background-color:black">
        <div class="game-screen" @ref="gameboardReference" @onkeyup="@(KeyboardMove)" tabindex="0">

            <div class="rpgui-left-panel">
                <div class="menu">
                    <div class="rpgui-container framedgrey">
                        <MatButton Raised="true" OnClick="ShowMenu">Menu</MatButton>
                    </div>
                </div>
                <hr class="golden" />
                <div class="inventory">
                    <div class="rpgui-container framedgolden">
                        <RpgButton OnClick="@(() => ToggleCss(currentMap))">Toggle Village background</RpgButton>
                        <hr class="golden" />
                        <RpgSelectDropdown TItem="TopViewAvatar" @bind-SelectedValue="avatarView" OptionsList="@(Enum.GetValues(typeof(TopViewAvatar)).Cast<TopViewAvatar>().ToArray())" />
                        <h2>@Enum.GetName(avatarView)</h2>
                        <RpgButton OnClick="@(() => HandleSprites(avatarView))" Label="Change Avatar"/>
                    </div>
                </div>
                <hr class="golden" />
                <div class="other-stuff rpgui-container framedgolden2" style="margin-top:25rem">
                    @foreach (var info in moveUpdates)
                    {
                        <p>@info</p>
                    }
                </div>
            </div>
            <hr class="golden" />
            <div class="rpgui-animation-overhead">
                <div class="rpgui-container framedgrey">
                    <RpgGlobalAnimation CanvasBackgound="CanvasBackgound.Framed" Animation="moveAnimation" CanvasSpecs="canvasSpecs" CollisionBlocks="collitionsBlocks" Fps="10" OnMove="HandleMove" BackgroundImage="background" StopTimer="stopTimer" OnCollide="HandleCollision" />
                </div>
            </div>
           
        </div>
       
        @*<hr class="golden" />
        <div class="other-stuff rpgui-container framedgolden2">
            @foreach (var info in moveUpdates)
            {
                <p>@info</p>
            }
        </div>*@
    </div>
}
@if (isCombatActive)
{
    <CombatLauncher MonsterCount="@monsterCount" OnCombatEnded="HandleCombatEnded" />
}