
@if (!isCombatActive)
{

    <div class="game-screen" @ref="gameboardReference" @onkeyup="@(KeyboardMove)" tabindex="0">
       
        <div class="menu">
            <MatButton Raised="true" OnClick="ShowMenu">Menu</MatButton>
        </div>
        <div class="inventory">
            <MatButton Raised="true" OnClick="ToggleCss">Toggle Village background</MatButton>
        </div>

        <div class="@gridCss" @onkeypress="@KeyboardMove">
            @for (int i = 0; i < 12; i++)
            {
                <div class="column">
                    @for (int j = 0; j < 12; j++)
                    {
                        int row = i;
                        int col = j;
                        <PlayerLocation Row="row" Col="col" PlayerLocChanged="HandlePlayerLocChanged"></PlayerLocation>
                    }
                </div>
            }

        </div>
        <div class="nav-controls">
            <div class="mat-layout-grid" style="padding:3px">
                <div class="mat-layout-grid-inner" style="padding:3px">
                    <div class="mat-layout-grid-cell">
                        <MatButton Raised="true" OnClick="@(() => MovePlayer(Direction.Left))" Style="margin-top: 3rem; margin-bottom:-1rem" Icon="arrow_back" TrailingIcon="arrow_back">left</MatButton>
                    </div>
                    <div class="mat-layout-grid-cell">
                        <MatButton Raised="true" OnClick="@(() => MovePlayer(Direction.Up))" Style="margin-bottom:auto; margin-top:-.1rem" Icon="arrow_upward" TrailingIcon="arrow_upward">Up</MatButton>
                        <MatButton Raised="true" OnClick="@(() => MovePlayer(Direction.Down))" Style="margin-top:4rem; margin-bottom:-2rem" Icon="arrow_downward" TrailingIcon="arrow_downward">Down</MatButton>
                    </div>
                    <div class="mat-layout-grid-cell">
                        <MatButton Raised="true" OnClick="@(() => MovePlayer(Direction.Right))" Style="margin-top: 3rem; margin-bottom:-1rem" Icon="arrow_forward" TrailingIcon="arrow_forward">Right</MatButton>
                    </div>
                </div>
            </div>
        </div>
        <div class="other-stuff">
            @foreach (var info in moveUpdates)
            {
                <p>@info</p>
            }
        </div>
    </div>
}
@if (isCombatActive)
{
    <CombatLauncher MonsterCount="@monsterCount" OnCombatEnded="HandleCombatEnded" />
}